.grid
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-auto-flow: dense
    gap: 2em

.card
    background: blue
    display: flex
    flex-direction: column
    gap: 1.4em
    border-radius: 10px
    padding: 2.15em
.graduate
    display: flex
    flex-direction: row
    place-items: center
    gap: 1em
    img
        aspect-ratio: 1/1
        width: 30px
        height: 30px
        border-radius: 50%
    .grad-name
        font-size: 1em
    .verified
        font-size: .9em

.quote       
    .quote-header
        font-size: 1.5em
        line-height: 1.24em
        padding-bottom: .8em
    .quote-main
        line-height: 1.38em



.daniel
    grid-column: 1 / span 2

.jonathan

.jeanette

.patrick
    grid-column: 2 / span 2

.kira
    grid-column: 4
    grid-row: 1 / span 2